@model AnInterestingWebSiteName.Classes.KutuphaneModelClass
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UserLayoutPage.cshtml";
}
<head>
    <link href="~/Assets/Css/KutuphaneCss.css" rel="stylesheet" />
</head>


<div class="maink">

    <div class="list">
        <a href="@Url.Action("Index","Kutuphane",new {ID =0})">
            <div class="listItem" style="border-bottom: 2px solid #637a9b; height: 24px;">
                <label class="Ad">
                    Kütüphane
                </label>
            </div>
        </a>

        @if (Model.Urunler != null)
        {
            foreach (var item in Model.Urunler)
            {
                if (Model.Urun != null)
                {

                    if (Model.Urun.ID == item.ID)
                    {
                        <div style="border-bottom: 2px solid #637a9b; height: 24px; " class="listItem">
                            <img style="position:absolute;" class="firmaFotograf" src="~/Fotograflar/FirmaFotograflari/@Model.Firma.FirstOrDefault(s => s.ID == item.Yayinci_ID).FirmaResmi" alt="Alternate Text" />
                            <label class="Ad">
                                @item.Ad
                            </label>
                        </div>
                    }
                    else
                    {
                        <a style="text-decoration:none;" href="@Url.Action("Index","Kutuphane",new {ID =item.ID})">
                            <div class="listItem">
                                <img style="position:absolute;" class="firmaFotograf" src="~/Fotograflar/FirmaFotograflari/@Model.Firma.FirstOrDefault(s => s.ID == item.Yayinci_ID).FirmaResmi" alt="Alternate Text" />
                                <label class="Ad">
                                    @item.Ad
                                </label>
                            </div>
                        </a>
                    }
                }
                else
                {
                    <a style="text-decoration:none;" href="@Url.Action("Index","Kutuphane",new {ID =item.ID})">
                        <div class="listItem">
                            <img style="position:absolute;" class="firmaFotograf" src="~/Fotograflar/FirmaFotograflari/@Model.Firma.FirstOrDefault(s => s.ID == item.Yayinci_ID).FirmaResmi" alt="Alternate Text" />
                            <label class="Ad">
                                @item.Ad
                            </label>
                        </div>
                    </a>
                }
            }
        }
    </div>
    <div class="sagList">
        @if (Model.Urun != null)
        {
            <div class="urun">
                <div class="arkaPlan">
                    <img class="oyunArkaPlanImage" src="~/Fotograflar/UrunFotograflari/@Model.Urun.ArkaPlanResmi" alt="Arka Plan" />
                    <img class="oyunArkaPlanImage imageBlur" src="~/Fotograflar/UrunFotograflari/@Model.Urun.ArkaPlanResmi" alt="Arka Plan" />
                    <div class="blurGradient"></div>
                    <div style="z-index:899;position:relative;">
                    </div>
                </div>

                <div class="infobg">
                    <div class="info">

                        <input class="OYNA" type="button" value="OYNA">
                        <a class="oyunLink" href="@Url.Action("Index", "UserUrun", new {ID=Model.Urun.ID})">Ürünün Web Sayfası</a>
                        <div class="aciklama">
                            @Html.Raw(Model.Urun.Aciklama)
                        </div>
                        <div class="aciklama">
                            @Html.Raw(Model.Urun.AciklamaAlt1)
                        </div>
                        <div class="aciklama">
                            @Html.Raw(Model.Urun.AciklamaAlt2)
                        </div>
                        <div class="aciklama">
                            @Html.Raw(Model.Urun.AciklamaAlt3)
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="placeHolder">
                @if (Model.Urunler != null)
                {
                    foreach (AnInterestingWebSiteName.Models.Urunler item in Model.Urunler)
                    {
                        <a style="text-decoration:none;" href="@Url.Action("Index", "Kutuphane", new {ID=item.ID})">
                            <div class="placeHolderItem">
                                <img class="kutuphaneImage" src="~/Fotograflar/UrunFotograflari/@item.TamResimYolu" alt="Ürün Fotoğrafı" />
                                <br />
                                <div class="urunInfo">
                                    <label>
                                        @item.Ad
                                    </label>
                                </div>
                            </div>
                        </a>
                    }
                }
            </div>
        }
    </div>



</div>
