@model AnInterestingWebSiteName.Models.OyunResimleri
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayoutPage.cshtml";
}


<div class="form">
    <div class="baslik">
        <label style="float:left;">
            Oyuna Fotoğraf Ekle
        </label>
        <div style="margin-left:20px;float:left;">
            @if (ViewBag.urun != null)
            {
                <a href="@Url.Action("Index",new {ID = ViewBag.urun.ID})">Fotoğraf Listesine</a>
            }
            else
            {
                <a href="@Url.Action("Index","Urun")">Ürünlerin Listesi</a>
            }
        </div>

        @if (ViewBag.message != null)
        {
            <label>@ViewBag.message</label>
        }
    </div>

    <div class="objectsItems">

        @using (Html.BeginForm("Create", "OyunFotograf", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            if (ViewBag.urun == null)
            {
                <div class="objectsItem">
                    Seçilecek Ürün:
                    <br />
                    @Html.DropDownList("Oyun_ID", null, htmlAttributes: new { @class = "dropDown" })
                </div>
            }
            else
            {
                <div class="objectsItem">
                    <label>@ViewBag.urun.Ad</label>
                </div>
            }


            <div class="objectsItem">
                @Html.LabelFor(model => model.Resim)
                <br />
                <input type="file" name="image" value="Dosya Yükle" class="dosyaYukle" />
            </div>

            <div class="objectsItem">
                <input type="submit" value="Fotoğraf Ekle" />
            </div>
        }




    </div>

</div>