@model AnInterestingWebSiteName.Models.OyunResimleri
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayoutPage.cshtml";
}


<div class="form">
    <div class="baslik">
        Oyuna Fotoğrafını Düzenle
        <a href="@Url.Action("Index",new {ID = ViewBag.urun.ID})" style="margin-left:20px;">Fotoğraf Listesine</a>
        @if (ViewBag.message != null)
        {
            <label>@ViewBag.message</label>
        }
    </div>

    <div class="objectsItems">

        @using (Html.BeginForm("Edit", "OyunFotograf", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="objectsItem">
                <label>@ViewBag.urun.Ad</label>
                <br />
                <label>Fotoğraf ID: @ViewBag.urunFoto.ID</label>
            </div>

            <div class="objectsItem">
                @Html.LabelFor(model => model.Resim)
                <br />
                <input type="file" name="image" value="Dosya Yükle" class="dosyaYukle" />
            </div>

            <div class="objectsItem">
                <input type="submit" value="Fotoğraf Ekle" />
            </div>
        }

    </div>

</div>