@model IEnumerable<AnInterestingWebSiteName.Models.OyunResimleri>
@using AnInterestingWebSiteName.Models;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayoutPage.cshtml";
}

<div class="form">
    <div class="baslik">

        @if (ViewBag.urun != null)
        {
            @ViewBag.urun.Ad <label style="float:none">Fotoğraflarının Listesi</label>
        }
        <a href="@Url.Action("Index","Urun")" style="margin-left:20px;">Ürünlerin Listesi</a>
        <a href="@Url.Action("Create","OyunFotograf",new {ID = ViewBag.urun.ID}) " style="margin-left:20px;">Fotoğraf Ekle</a>

        @if (ViewBag.message != null)
        {
            <label>@ViewBag.message</label>
        }

    </div>

    <div>
        <table cellpadding="0" cellspacing="0" class="table">

            <tr>
                <th>@Html.DisplayNameFor(model => model.ID)</th>
                <th>@Html.DisplayNameFor(model => model.Resim)</th>
                <th>Seçenekler</th>
            </tr>
            @foreach (OyunResimleri item in Model)
            {
                <tr>


                    <td>@item.ID</td>
                    <td style="min-height: 71px;">
                        <img class="image" src="~/Fotograflar/UrunFotograflari/@item.Resim" alt="Resim" />
                    </td>
                    <td>
                        <a href="@Url.Action("Edit","OyunFotograf",new {ID = item.ID})">Düzenle</a>
                        <a href="@Url.Action("Delete","OyunFotograf",new {ID = item.ID})">Sil</a>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
