@model AnInterestingWebSiteName.Models.Kullanici
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_UserLayoutPage.cshtml";
}

<head>
    <link href="~/Assets/Css/UserDefaultFormCss.css" rel="stylesheet" />
    <script src="~/ckeditor/ckeditor.js"></script>
</head>


<div class="tasiyici">
    @using (Html.BeginForm("Create", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="objectsItems">

            <div class="objectsItems">
                @Html.LabelFor(model => model.Ad)
                <br />
                @Html.EditorFor(model => model.Ad)
                <br />
                @Html.ValidationMessageFor(model => model.Ad)
            </div>

            <div class="objectsItems">
                @Html.LabelFor(model => model.Mail)
                <br />
                @Html.EditorFor(model => model.Mail)
                <br />
                @Html.ValidationMessageFor(model => model.Mail)
            </div>

            <div class="objectsItems">
                @Html.LabelFor(model => model.Sifre)
                <br />
                @Html.EditorFor(model => model.Sifre)
                <br />
                @Html.ValidationMessageFor(model => model.Sifre)
            </div>

            <div class="objectsItems">
                @Html.LabelFor(model => model.ProfilResmi)<small style="margin-left:20px;">Gif Kullanablirsiniz</small>
                <br />
                <input type="file" name="pfp" value="Profil Fotoğrafı" class="dosyaYukle" />
            </div>

            <div class="objectsItems">
                @Html.LabelFor(model => model.Aciklama):
                <br />
                @Html.EditorFor(model => model.Aciklama)
                <script>
                    CKEDITOR.replace('Aciklama', {
                        customConfig: '/Areas/Admin/Assets/CKEditorConfig/AdminCKEditor_config.js'
                    });
                </script>
                <br />
                @Html.ValidationMessageFor(model => model.Aciklama)
            </div>

            <div class="objectsItems">
                <input type="submit" name="submit" value="Kayıt Ol" />
            </div>

            <div class="objectsItems">
                @Html.Raw(ViewBag.error)
            </div>
        </div>
    }
</div>