@model AnInterestingWebSiteName.Models.Yonetici
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Giriş</title>
    <link href="~/Areas/Admin/Assets/CSS/LoginCSS.css" rel="stylesheet" />
</head>
<body>

    <div class="tasiyici">

        <div class="content">
            @using (Html.BeginForm())
            {

                <div class="baslik">
                    <h4>Giriş Ekranı</h4>
                </div>

                <div class="ekran">

                    <div class="item">
                        @Html.DisplayNameFor(model => model.Mail):
                        <br />
                        @Html.EditorFor(model => model.Mail)
                        <br />
                        @Html.ValidationMessageFor(model => model.Mail)
                    </div>

                    <div class="item">
                        @Html.DisplayNameFor(model => model.Sifre):
                        <br />
                        @Html.EditorFor(model => model.Sifre)
                        <br />
                        @Html.ValidationMessageFor(model => model.Sifre)
                    </div>

                    <div class="item">
                        <input type="submit" value="Giriş" />
                    </div>

                    <div class="item">
                        @if (ViewBag.message != null)
                        {
                            @ViewBag.message
                        }
                    </div>

                </div>

            }
        </div>

    </div>

</body>
</html>
