@model AnInterestingWebSiteName.Models.Firma
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayoutPage.cshtml";
}

<head>
    <script src="@Url.Content("~/ckeditor/ckeditor.js")" type="text/javascript"></script>
</head>

<div class="form">
    <div class="baslik">
        Firma Ekle
        <a href="@Url.Action("Index","Firma")" style="margin-left:20px;">Firma Listesi</a>

        @if (ViewBag.message != null)
        {
            <label>@ViewBag.message</label>
        }
    </div>

    @using (Html.BeginForm("Create", "Firma", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="objectsItems">

            <div class="objectsItem">
                @Html.LabelFor(model => model.Ad):
                <br />
                @Html.EditorFor(model => model.Ad)
                <br />
                @Html.ValidationMessageFor(model => model.Ad)
            </div>

            <div class="objectsItem">
                @Html.LabelFor(model => model.FirmaHakkinda):
                <br />
                @Html.EditorFor(model => model.FirmaHakkinda)
                <script>
                    CKEDITOR.replace('FirmaHakkinda', {
                        customConfig: '/Areas/Admin/Assets/CKEditorConfig/AdminCKEditor_config.js'
                    });
                </script>
                <br />
                @Html.ValidationMessageFor(model => model.FirmaHakkinda)
            </div>

            <div class="objectsItem">
                @Html.LabelFor(model => model.FirmaResmi):
                <br />
                <input type="file" name="firmaResmi" value="" class="dosyaYukle" /><small>Resim Kare Olmalıdır</small>
            </div>

            <div class="objectsItem">
                @Html.LabelFor(model => model.FirmaArkaPlanResmi)
                <br />
                <input type="file" name="firmaArkaPlanResmi" value="" class="dosyaYukle" />
            </div>

            <div class="objectsItem">
                @Html.LabelFor(model => model.Mail):
                <br />
                @Html.EditorFor(model => model.Mail)
                <br />
                @Html.ValidationMessageFor(model => model.Mail)
            </div>

            <div class="objectsItem">
                <input type="submit" name="submit" value="Firma Ekle" />
            </div>

        </div>
    }
</div>